In [1]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\adity\OneDrive\Desktop\Unemployment_analysis\Unemployment in India.csv"
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
print(data.head())

# Display dataset information
print(data.info())

# Check for missing values
print(data.isnull().sum())

# Basic statistics of numerical columns
print(data.describe())

# Check the columns
print(data.columns)

           Region         Date  Frequency   Estimated Unemployment Rate (%)  \
0  Andhra Pradesh   31-05-2019    Monthly                              3.65
1  Andhra Pradesh   30-06-2019    Monthly                              3.05
2  Andhra Pradesh   31-07-2019    Monthly                              3.75
3  Andhra Pradesh   31-08-2019    Monthly                              3.32
4  Andhra Pradesh   30-09-2019    Monthly                              5.17

    Estimated Employed   Estimated Labour Participation Rate (%)   Area
0           11999139.0                                     43.24  Rural
1           11755881.0                                     42.05  Rural
2           12086707.0                                     43.50  Rural
3           12285693.0                                     43.97  Rural
4           12256762.0                                     44.68  Rural
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    740 non-null    object
 1    Date                                     740 non-null    object
 2    Frequency                                740 non-null    object
 3    Estimated Unemployment Rate (%)          740 non-null    float64
 4    Estimated Employed                       740 non-null    float64
 5    Estimated Labour Participation Rate (%)  740 non-null    float64
 6   Area                                      740 non-null    object
dtypes: float64(3), object(4)
memory usage: 42.1+ KB
None
Region                                      28
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64
       Estimated Unemployment Rate (%)  Estimated Employed  \
count                       740.000000        7.400000e+02
mean                         11.787946        7.204460e+06
std                          10.721298        8.087988e+06
min                           0.000000        4.942000e+04
25%                           4.657500        1.190404e+06
50%                           8.350000        4.744178e+06
75%                          15.887500        1.127549e+07
max                          76.740000        4.577751e+07

       Estimated Labour Participation Rate (%)
count                               740.000000
mean                                 42.630122
std                                   8.111094
min                                  13.330000
25%                                  38.062500
50%                                  41.160000
75%                                  45.505000
max                                  72.570000
Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area'],
      dtype='object')

In [3]:
# Save the processed dataset for Power BI
data.to_csv(r"C:\Users\adity\OneDrive\Desktop\Unemployment_analysis\Unemployment in India.csv", index=False)

In [5]:
# Save the processed dataset for Power BI
data.to_csv(r"C:\Users\adity\OneDrive\Desktop\Unemployment_analysis\Unemployment in India.csv", index=False)

In [9]:
# Strip leading/trailing spaces from all string data
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].map(lambda x: x.strip() if isinstance(x, str) else x)

# Handle missing values (example: dropping rows with NA)
data = data.dropna()

# Convert the Date column to datetime
data['Date'] = pd.to_datetime(data['Date'], format='%d-%m-%Y')

# Save the cleaned dataset
cleaned_file_path = r"C:\Users\adity\OneDrive\Desktop\Unemployment_analysis\Unemployment in India.csv"
data.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset saved to: {cleaned_file_path}")

Cleaned dataset saved to: C:\Users\adity\OneDrive\Desktop\Unemployment_analysis\Unemployment in India.csv